<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yixiu.mapper.MzcComplaintMapper">
    
    <resultMap type="MzcComplaint" id="MzcComplaintResult">
        <result property="complaintId"    column="complaint_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="complaintType"    column="complaint_type"    />
        <result property="nickname"    column="nickname"    />
        <result property="phone"    column="phone"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="deleteBy"    column="delete_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectMzcComplaintVo">
        select complaint_id, order_id, complaint_type, nickname, phone, status, remark, delete_by, del_flag, create_time, create_by, update_time, update_by from mzc_complaint
    </sql>

    <select id="selectMzcComplaintList" parameterType="MzcComplaint" resultMap="MzcComplaintResult">
        <include refid="selectMzcComplaintVo"/>
        <where>  
            <if test="complaintType != null  and complaintType != ''"> and complaint_type = #{complaintType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
             and del_flag = '0'
        </where>
    </select>
    
    <select id="selectMzcComplaintByComplaintId" parameterType="Long" resultMap="MzcComplaintResult">
        <include refid="selectMzcComplaintVo"/>
        where complaint_id = #{complaintId} and del_flag = '0'

    </select>
        
    <insert id="insertMzcComplaint" parameterType="MzcComplaint" useGeneratedKeys="true" keyProperty="complaintId">
        insert into mzc_complaint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="complaintType != null">complaint_type,</if>
            <if test="nickname != null">nickname,</if>
            <if test="phone != null">phone,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="deleteBy != null">delete_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="complaintType != null">#{complaintType},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="phone != null">#{phone},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deleteBy != null">#{deleteBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateMzcComplaint" parameterType="MzcComplaint">
        update mzc_complaint
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="complaintType != null">complaint_type = #{complaintType},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deleteBy != null">delete_by = #{deleteBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where complaint_id = #{complaintId} and del_flag = '0'
    </update>

    <delete id="deleteMzcComplaintByComplaintId" parameterType="Long">
        update mzc_complaint set del_flag = '2', delete_by = #{deleteByName} where complaint_id = #{complaintId}
    </delete>

    <delete id="deleteMzcComplaintByComplaintIds" parameterType="String">
      update mzc_complaint set del_flag = '2', delete_by = #{deleteByName} where complaint_id in
        <foreach item="complaintId" collection="complaintIds" open="(" separator="," close=")">
            #{complaintId}
        </foreach>
    </delete>
</mapper>