<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yixiu.mapper.MzcOrderPartsMapper">
    
    <resultMap type="MzcOrderParts" id="MzcOrderPartsResult">
        <result property="partsId"    column="parts_id"    />
        <result property="feedbackId"    column="feedback_id"    />
        <result property="partsModel"    column="parts_model"    />
        <result property="partsName"    column="parts_name"    />
        <result property="number"    column="number"    />
        <result property="unit"    column="unit"    />
        <result property="partsPrice"    column="parts_price"    />
        <result property="maintenancePrice"    column="maintenance_price"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="preferentialPrice"    column="preferential_price"    />
        <result property="deleteBy"    column="delete_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMzcOrderPartsVo">
        select parts_id, feedback_id, parts_model, parts_name, number, unit, parts_price, maintenance_price, unit_price, preferential_price, delete_by, del_flag, create_by, create_time, update_by, update_time from mzc_order_parts
    </sql>

    <select id="selectMzcOrderPartsList" parameterType="MzcOrderParts" resultMap="MzcOrderPartsResult">
        <include refid="selectMzcOrderPartsVo"/>
        <where>  
            <if test="feedbackId != null  and feedbackId != ''"> and feedback_id = #{feedbackId}</if>
            <if test="partsModel != null  and partsModel != ''"> and parts_model = #{partsModel}</if>
            <if test="partsName != null  and partsName != ''"> and parts_name like concat('%', #{partsName}, '%')</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="partsPrice != null "> and parts_price = #{partsPrice}</if>
            <if test="maintenancePrice != null "> and maintenance_price = #{maintenancePrice}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="preferentialPrice != null "> and preferential_price = #{preferentialPrice}</if>
            <if test="deleteBy != null  and deleteBy != ''"> and delete_by = #{deleteBy}</if>
             and del_flag = '0'
        </where>
    </select>
    
    <select id="selectMzcOrderPartsByPartsId" parameterType="Long" resultMap="MzcOrderPartsResult">
        <include refid="selectMzcOrderPartsVo"/>
        where parts_id = #{partsId} and del_flag = '0'

    </select>
        
    <insert id="insertMzcOrderParts" parameterType="MzcOrderParts" useGeneratedKeys="true" keyProperty="partsId">
        insert into mzc_order_parts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">feedback_id,</if>
            <if test="partsModel != null">parts_model,</if>
            <if test="partsName != null">parts_name,</if>
            <if test="number != null">number,</if>
            <if test="unit != null">unit,</if>
            <if test="partsPrice != null">parts_price,</if>
            <if test="maintenancePrice != null">maintenance_price,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="preferentialPrice != null">preferential_price,</if>
            <if test="deleteBy != null">delete_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">#{feedbackId},</if>
            <if test="partsModel != null">#{partsModel},</if>
            <if test="partsName != null">#{partsName},</if>
            <if test="number != null">#{number},</if>
            <if test="unit != null">#{unit},</if>
            <if test="partsPrice != null">#{partsPrice},</if>
            <if test="maintenancePrice != null">#{maintenancePrice},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="preferentialPrice != null">#{preferentialPrice},</if>
            <if test="deleteBy != null">#{deleteBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMzcOrderParts" parameterType="MzcOrderParts">
        update mzc_order_parts
        <trim prefix="SET" suffixOverrides=",">
            <if test="feedbackId != null">feedback_id = #{feedbackId},</if>
            <if test="partsModel != null">parts_model = #{partsModel},</if>
            <if test="partsName != null">parts_name = #{partsName},</if>
            <if test="number != null">number = #{number},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="partsPrice != null">parts_price = #{partsPrice},</if>
            <if test="maintenancePrice != null">maintenance_price = #{maintenancePrice},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="preferentialPrice != null">preferential_price = #{preferentialPrice},</if>
            <if test="deleteBy != null">delete_by = #{deleteBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where parts_id = #{partsId} and del_flag = '0'
    </update>

    <delete id="deleteMzcOrderPartsByPartsId" parameterType="Long">
        update mzc_order_parts set del_flag = '2', delete_by = #{deleteByName} where parts_id = #{partsId}
    </delete>

    <delete id="deleteMzcOrderPartsByPartsIds" parameterType="String">
      update mzc_order_parts set del_flag = '2', delete_by = #{deleteByName} where parts_id in
        <foreach item="partsId" collection="partsIds" open="(" separator="," close=")">
            #{partsId}
        </foreach>
    </delete>

    <insert id="batchMzcParts">
        insert into mzc_order_parts(feedback_id, parts_model, parts_name, number, unit, parts_price, maintenance_price, unit_price, preferential_price, del_flag, delete_by, create_time, create_by, update_time, update_by) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.feedbackId}, #{item.partsModel},#{item.partsName}, #{item.number}, #{item.unit}, #{item.partsPrice}, #{item.maintenancePrice}, #{item.unitPrice}, #{item.preferentialPrice}, #{item.delFlag}, #{item.deleteBy}, #{item.createTime}, #{item.createBy}, #{item.updateTime}, #{item.updateBy})
        </foreach>
    </insert>
</mapper>