<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yixiu.mapper.MzcWxMapper">
    
    <resultMap type="MzcWx" id="MzcWxResult">
        <result property="wxUserId"    column="wx_user_id"    />
        <result property="userId"    column="user_id"    />
        <result property="wxOpenId"    column="wx_open_id"    />
        <result property="nickname"    column="nickname"    />
        <result property="phone"    column="phone"    />
        <result property="sex"    column="sex"    />
        <result property="avatar"    column="avatar"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="deleteBy"    column="delete_by"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMzcWxVo">
        select wx_user_id, user_id, wx_open_id, nickname, phone, sex, avatar, remark, status, del_flag, login_ip, login_date, create_time, update_by, update_time from mzc_wx
    </sql>

    <select id="selectMzcWxList" parameterType="MzcWx" resultMap="MzcWxResult">
        <include refid="selectMzcWxVo"/>
        <where>  
             and del_flag = '0'
        </where>
    </select>
    
    <select id="selectMzcWxByWxUserId" parameterType="Long" resultMap="MzcWxResult">
        <include refid="selectMzcWxVo"/>
        where wx_user_id = #{wxUserId} and del_flag = '0'

    </select>
        
    <insert id="insertMzcWx" parameterType="MzcWx">
        insert into mzc_wx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wxUserId != null">wx_user_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="wxOpenId != null">wx_open_id,</if>
            <if test="nickname != null">nickname,</if>
            <if test="phone != null">phone,</if>
            <if test="sex != null">sex,</if>
            <if test="avatar != null">avatar,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="loginDate != null">login_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wxUserId != null">#{wxUserId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="wxOpenId != null">#{wxOpenId},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="phone != null">#{phone},</if>
            <if test="sex != null">#{sex},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="loginIp != null">#{loginIp},</if>
            <if test="loginDate != null">#{loginDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMzcWx" parameterType="MzcWx">
        update mzc_wx
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="wxOpenId != null">wx_open_id = #{wxOpenId},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where wx_user_id = #{wxUserId} and del_flag = '0'
    </update>

    <delete id="deleteMzcWxByWxUserId" parameterType="Long">
        update mzc_wx set del_flag = '2', delete_by = #{deleteByName} where wx_user_id = #{wxUserId}
    </delete>

    <delete id="deleteMzcWxByWxUserIds" parameterType="String">
      update mzc_wx set del_flag = '2', delete_by = #{deleteByName} where wx_user_id in
        <foreach item="wxUserId" collection="wxUserIds" open="(" separator="," close=")">
            #{wxUserId}
        </foreach>
    </delete>
</mapper>